* {
    box-sizing: border-box;
  }
  
  body{
      margin: 0;
      padding: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .container {
    float: left;
    margin: 15px;
    
  }
  
  h1 {
    margin-bottom: 15px;
    text-align: center;
    color: #724c47;
    font-size: 40px;
  }

  .box {
    width: 100%;
    overflow: none;
  }
  
  
  .content-name{
    border: 2px solid black;
    position: relative;
    text-align: center;
    font-weight: bold;
    font-size: large;
    width: 150px;
    height: 40px;
    padding: 5px;
    margin-top: 0;
    float: right;
  }
  
  .content{
    border: 2px solid black;
    width: 420px;
    height: auto;
    padding: 60px 10px 15px;
    font-weight: 500;
    background-color: rgb(216, 207, 207);

  }
  
  .name1{
    background-color: #FFB6C1;
  }
  
  .name2{
    color: white;
    background-color: #FF0000;
  }
  .name3{
    background-color: #FFFF00;
  }

  /********** Large devices only **********/
 @media (min-width: 992px) {
    .container {
        float: left;
        width: 30.60%;
    }
  }

  /********** Medium devices only **********/
 @media (min-width: 768px) and (max-width: 991px) {
    .cont1, .cont3 {
      float: left;
    }
    .cont2 {
      width: 50%;
    }
    .cont3 {
      margin-left: 10px;
      width: 100%;
    }
    .name3{
      margin-right: 347px;
      width: 150px;
    }
    .cont3 {
        width: 100%;
    }
  }
  
 @media (min-width: 0px) and (max-width: 767px) {
    .cont1{
        float: left;
        width: 100%;
    }
    .content-name{
      margin-right: 30px;
    }
  }